<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <main>
        <header>
            <nav class="header-nav">
                <button class="menu-toggle" id="menu-toggle">
                    <span class="bars">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>
                    <span class="close" style="display: none;">
                        <span class="close-icon">X</span>
                    </span>
                    <span class="menu-text">Meny</span>
                </button>
                <ul id="nav-menu">
                    <li><a href="/">Startsida</a></li>
                    <li><a href="/kurs">Lägg till Kurs</a></li>
                    <li><a href="/sidan">Om sidan</a></li>
                </ul>
            </nav>
        </header>
    </main>
</body>
</html>