body {
    width: 960px;
    margin: 0 auto;
    background-color: #cfc3b8;;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-nav {
    margin-right: 0;
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
}

.menu-toggle {
    display: none;
}


@media screen and (max-width: 375px) {
.menu-toggle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    border: 2px solid #000000;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #cfc3b8;
    color: #000000;
    font-size: 1em;
    .bars {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 24px;
        margin-right: 10px;
    }
}
}