body {
    height: auto;
    margin: 0 auto;
    background: rgb(0,17,77);
    background: linear-gradient(90deg, rgba(0,17,77,1) 0%, rgba(97,9,121,1) 50%, rgba(0,232,255,1) 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    margin-left: 5em;
    margin-right: 5em;
}

h1 {
    margin-top: 3em;
    color: white;
    text-align: center;
    font-size: 2em;
}

table {
    z-index: 2;
    font-size: 1.2em;
    background: white;
    margin: 6em auto;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);
}

th {
    background-color: #fbc8f3;
    padding: 10px 15px;
    text-transform: uppercase;
}

td {
    padding: 10px 15px;
}

tr:nth-child(odd) {
    background-color: #edecf6;
}

table a {
    color: #592d71;
    font-size: 1.2em;
}

.links {
    display: flex;
    justify-content: center;
    gap: 40em;
}
    a {
        color: white;
        font-size: 1.2em;
    }


form {
    margin: 3em auto;
    text-align: center;
    font-size: 1.4em;
    line-height: 2em;
    color: white;
}

#coursecode {
    width: 5em;
    padding: 0.3em 0;
}

#coursename {
    width: 20em;
    padding: 0.3em 0;  
}

#syllabus {
    width: 35em;
    padding: 0.3em 0;  
}

#progression {
    width: 2em;
    padding: 0.3em 0;
}

button {
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 7px;
    background-color: #fce3f8;
}

button:hover {
    cursor: pointer;
}

p {
    color: white;
    font-size: 1.2em;
}

.about {
    margin: 5em auto;
}

@media (max-width: 1445px) {

.links {
    gap: 30em;
    white-space: nowrap;
}

form,
table,
table a,
.links a {
    font-size: 1em;
}

}

@media (max-width: 780px) {
    .links {
        gap: 15em;
    }

    body {
    margin-left: 2em;
    margin-right: 2em;
    }

    h1 {
        font-size: 1.5em;
    }

    form,
    table,
    table a,
    .links a {
        font-size: 0.8em;
    }

    form {
line-height: 3em;
    }

    th {
        padding: 2px 3px;
    }
    
    td {
        padding: 2px 3px;
    }

    #coursecode {
        width: 4em;
        padding: 0.3em 0;
    }
    
    #coursename {
        width: 15em;
        padding: 0.3em 0;  
    }
    
    #syllabus {
        width: 25em;
        padding: 0.3em 0;
    }
    
    #progression {
        width: 1.5em;
        padding: 0.3em 0;
    }

    a {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {

    a {
        margin-left: 2em;
    }

    #syllabus {
        width: 15em;
        padding: 0.3em 0;
    }

    #coursename {
        width: 12em;
        padding: 0.3em 0;  
    }

    .links {
        gap: 10em;
        margin-top: 3em;
    }

    body {
        margin-left: 0.5em;
        margin-right: 0.5em;
        }

        .table-container {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

}

@media (max-width: 375px) {
    .links {
        gap: 2em;
        margin-top: 3em;
    }
}